/* General page styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e6e0d4; /* Light brown */
    color: #2f4f2f; /* Dark green text */
    margin: 0;
    padding: 0;
}

/* Header section */
header {
    text-align: center;
    padding: 50px;
    background-color: #4b5320; /* Green */
    color: white;
}

.logo img {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #8b4513; /* Brown */
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
